body, html, .app-layout {
  margin: 0;
}

html, body, .app-layout, #root {
  height: 100vh;
}


:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #181818;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  padding: 0px;
  width: 100%
}

.app-layout {
  display: grid;
  grid-template-rows: 72px auto;
  grid-template-columns: auto;
  margin-left: 72px; 
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 72px;
  height: 100vh;

  box-sizing: border-box;


  display: grid;
  grid-template-rows: 72px 1fr 72px;

  border-right: solid 1px rgb(58, 58, 58);
  padding: 5px;
}

.navbar>.links {
  align-self: center;
}

.header {
  grid-row: 0/1;

  border-bottom: solid 1px rgb(58, 58, 58);
  box-sizing: border-box;
  margin: 0px;
  padding: 10px;
}

.content {
  box-sizing: border-box;
  margin: 0px;
  padding: 10px;

  display: grid;
  grid-template-columns: 1fr 600px 1fr;
}

#page-content {
  grid-column: 2/3
}